*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;

}

#container2{
    width: 370px;
    height: 100%;   

}

#box1{
    width: 480px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: pink;
}

#box2{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#box3{
    width: 30%;
    height: 100%;
    display: flex;
}

#fotoPerfil{
    width: 130px;
    border-radius: 1000px;
    margin: 0 20px;
}

#linhaVertical{
    width: 70%;
    margin: 0 0 10px 0;
}

.ph-instagram-logo{
    width: 50px;
    height: 50px;
}

.ph-linkedin-logo{
    width: 50px;

}

.ph-youtube-logo{
    width: 50px;
}

.ph-whatsapp-logo{
    width: 50px;
}